html,
body {
	margin: 0;
	padding: 0;
}

:where(h1, h2, h3, h4, h5, h6) {
	font-weight: 500;
}

:root {
	--color-text-primary: #000;
	--color-text-secondary: #777;
	--color-background: #fff;
	--color-background-highlight: #dad9d9;
}

.dark {
	--color-text-primary: #fff;
	--color-text-secondary: #ccc;
	--color-background: #000;
	--color-background-highlight: #cecaca;
}

:not(code) {
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

:where(*) {
	color: var(--color-text-primary);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 18px;
}
